<div ng-repeat="i in incidents | orderBy:['closed','idnum']" style="page-break-inside: avoid;margin-bottom:2em;">
  <table class="table">
    <thead>
      <tr>
        <th class="compact" translate>ID#</th>
        <th class="compact" translate>Title</th>
        <th ng-show="currentUser.can('view other users')" class="compact" translate>Assigned To</th>
        <th class="compact" translate>Status</th>
        <th class="compact" translate>Veracity</th>
        <th class="compact" translate>Escalated?</th>
        <!-- <th class="compact" translate>Tags</th> -->
        <th class="compact" translate>Stored at</th>
        <th class="compact" translate>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="compact content">
          <strong>{{ i.idnum + 1 | tripleDigit }}</strong>
        </td>
        <td class="compact">
          <a ng-hide="modal" href="incidents/{{i._id}}" class="table-primary"><strong>{{ i.title }}</strong></a>
          <strong ng-show="modal">{{ i.title }}</strong>
          <br />
          <span class="text-gray">{{i.totalReports}} {{'reports' | translate}}</span>
        </td>
        <td ng-show="currentUser.can('view other users')" class="compact"><a href="profile/{{i.assignedTo.username}}">{{ i.assignedTo.username }}</a></td>
        <td class="compact content">{{ {false: 'Open', true: 'Closed'}[i.closed] | translate }}</td>
        <td class="compact content">
          <div ng-if="i.veracity != null">
            <div translate>Confirmed</div>
            <span ng-if="i.veracity" class="text-green verified" translate>True</span>
            <span ng-if="!i.veracity" class="text-red refuted" translate>False</span>
          </div>
        </td>
        <td class="compact content" ng-class="{escalated: escalated}">{{ {false: 'No', true: 'Yes'}[i.escalated] | translate }}</td>
        <!-- <td class="compact content">{{ tagsToString(i.tags) }}</td> -->
        <td class="compact">
          <div class="date-and-time">
            <span class="time">{{ i.storedAt | aggieDate:'time' }}</span>
            <span class="date">{{ i.storedAt | aggieDate:'date' }}</span>
          </div>
        </td>
        <td class="compact">
          <div class="interval">
            <span class="interval-amount">{{ i.updatedAt | interval }}</span>
            <span class="interval-relative" translate>ago</span>
          </div>
          <div class="date-and-time">
            <span class="time">{{ i.updatedAt | aggieDate:'time' }}</span>
            <span class="date">{{ i.updatedAt | aggieDate:'date' }}</span>
          </div>
        </td>
      </tr>
<!-- <tr>
           <td class="detail-key" translate>Notes</td>
           <td colspan="4" class="detail-value"><span class="angular-with-newlines" ng-bind-html="i.notes"></span></td>
           </tr>
   -->
    </tbody>
  </table>
  <span class="angular-with-newlines" ng-bind-html="i.notes"></span>
  <div ng-include="'/templates/incidents/reports_per_incident.html'"></div>
</div>
